node_modules
config.json
newrelic_agent.log
web/dist/
web/index.html
server/js/
server/upload/
xcuserdata/
.ignore
.ignored_files/
.DS_Store
.vscode/
ZZidea

# Eventually, we want to move common's output into a ./js/ directory by adding:
#
#   "outDir": "./js"
#
# to ts-config.js. Then we can add:
#
#   "exports": {
#     "./": "./js/"
#   },
#
# to package.json to ensure node knows where to look. Once we've done all that,
# the following lines can be replaced by a simple:
#
# common/js/
common/*.d.ts*
common/*.js
common/tsconfig.tsbuildinfo

# Nubis
nubis/librarian-puppet.tar.gz
nubis/librarian-puppet
nubis/Puppetfile.lock
nubis/.tmp
nubis/.librarian
nubis/builder/artifacts/*

# WebStorm
.idea/
